# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Rust
/target
/rust/**/target

# ubrn generated bindings
/modules/*/src/generated
/modules/*/ios/generated
/modules/*/android/generated

# Rust build artifacts vendored into the native module
/modules/*/ios/*.xcframework
/modules/*/android/src/main/jniLibs
